*{
    margin: 0;
    padding: 0;
}
/* common style use in web page */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    }
/* banner style  */

.banner-container{
    background-color:rgba(229, 84, 115, 0.10);
    height: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-content{
    max-width: 500px;
    margin-left: 300px;

}
.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}


.banner-image{
    width: 500px;
    height: 700px;
    margin-right: 230px;
}
/* Banner style end */

/* featured flower section start */
.featured-flower{
    padding-top: 130px;
    padding-bottom: 128px;
    text-align: center;    
    padding-bottom: 50px ;
    width: 80%;
    margin: auto;
}
.featured-flowers-title{
    margin-top: 180px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.featured-flowers-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px; 
    margin: 30px 0px;
}
.flower-tree-container{
    display: flex;
    align-items: center;
  justify-content: space-around;
}
.flower-tree-pink-image1{
    /* display: block; */
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-left: 200px;
    margin-right: 50px;
}

.flower-tree-pink-image2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 50px;
    /* margin: 30px 30px; */
}
.flower-tree-pink-image3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-right: 350px;
}
.flower-tree-container h4{
    margin-top: 50px;
}
.name-tree-container{
    display: flex;
}
.name-tree-pink{
    text-align: center;
}
.delivery{
    display: flex; 
    justify-content: space-between;
    width: 1750px;
    height: 350px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    margin: 200px 550px 200px 380px ;
}

.delivery-descripttion{
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}
.delivery-img-container{
    padding-bottom: 30px;
    justify-content: space-around;
    padding: 20px 100px;
}
.delivery-img{ 
    padding: 20px 100px;
}
/* start deal style  */
.hot-deal{
    width: 100;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content:space-between;
    padding: 100px 600px;

}
.deal-off{
    color: #E55473;
}
.hot-deal-content{
    text-align: center;
}
.hot-deal-description{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.btn-hot-deal{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* instagram section style start  */
.instagram-content{
    justify-content: center;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 125px;
}
.instragram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;        
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}
.instagram-image{
    display: flex;
    margin: 30px 20px;
    /* justify-content: space-around; */
    margin: 50px 400px;
}
.instagram-images{
    margin-right: 70px;
    margin-top: 50px;
}
.instagram-pic{
    width: 342px;
    height: 396px;
}
/* instagram section finished */

/* grt the latest deal start style  */
.latest-deals{
    width: 1400px;
    height: 449px;
    background-repeat: no-repeat;
    background-image: url("../Flower Asset/Rectangle 9.png");
    justify-content: center;
    margin: 200px 500px 50px 500px;
}
.latest-deal-title{
    color: #272727;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    padding-top: 125px;
}
.latest-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top:15px ;
}
.latest-deal-input{
    width: 700px;
    height: 50px;
    margin-left: 230px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 40px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    border: none;
    margin-right:15px;
}
.footer{
    height: 449px;
    background-color: #111010;
    color:white
}
.footer-title{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    padding-top: 125px;

}
.footer-flower{
    color: #E55473;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}
.copy-right{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}